/* Rock Version Theme */

.main-playlist.rock-version {
    background-color: var(--color-red-1);
}
.container-playlist.rock-version::-webkit-scrollbar-thumb {
    background-color: var(--color-red-2);
}
.search-bar.rock-version input:focus {
    box-shadow: 0 0 0 5px var(--color-red-2), 0 0 25px var(--color-red-2);
}
.container-settings .user-settings.rock-version {
    background-color: var(--color-red-2);
}
.main-display .clock-settings.rock-version {
    background-color: var(--color-red-2);
}
.container-side-1 .current-music-rating.rock-version ion-icon {
    color: var(--color-red-2);
}
.container-side-1 .current-music-favorite.rock-version ion-icon {
    color: var(--color-red-2);
}
.slider-music-duration.rock-version input[type=range] {
    /* Será controlado por JavaScript */
    background-image: linear-gradient(to right, var(--color-red-2) 0%, var(--color-red-2) 50%, var(--color-white-1) 50%, var(--color-white-1) 100%);
}
.slider-music-duration.rock-version input[type=range]::-webkit-slider-thumb {
    background-color: var(--color-red-2);
}
.slider-music-duration-wrapper .slider-music-duration-dot.rock-version {
    background-color: var(--color-red-2);
}
.container-volume .slider-music-volume.rock-version input[type=range] {
    /* Será controlado por JavaScript */
    background-image: linear-gradient(to right, var(--color-red-2) 0%, var(--color-red-2) 50%, var(--color-white-1) 50%, var(--color-white-1) 100%);
}
.container-volume .slider-music-volume.rock-version input[type=range]::-webkit-slider-thumb {
    background-color: var(--color-red-2);
}
.slider-music-volume-wrapper .slider-music-volume-dot.rock-version {
    background-color: var(--color-red-2);
}
.container-playlist .item-playlist.rock-version {
    background-color: var(--color-red-3);
}
.container-playlist .item-playlist.rock-version .box-wrapper .info-item.music-playing {
    color: #f53636;
}
.main-controls.rock-version {
    background-image: linear-gradient(#731010, #000000);
}
.container-funcions .repeat-icon.rock-version ion-icon.active {
    color: var(--color-red-2);
}
.container-funcions .shuffle-icon.rock-version ion-icon.active {
    color: var(--color-red-2);
}
.layer-search-result.rock-version {
    background-color: var(--color-red-1);
}
.box-search-result.rock-version::-webkit-scrollbar-thumb {
    background-color: var(--color-red-2);
}
.item-playlist-search.rock-version {
    background-color: var(--color-red-3);
}
.layer-user-settings.rock-version {
    background-color: var(--color-red-1);
}
.box-user-settings.rock-version::-webkit-scrollbar-thumb {
    background-color: var(--color-red-2);
}
.box-profile .user-settings.rock-version {
    background-color: var(--color-red-2);
}
.item-playlist-favorite.rock-version {
    background-color: var(--color-red-3);
}
.item-playlist-historic.rock-version {
    background-color: var(--color-red-3);
}
.main-playlist .box-wrapper-info .more-playlist.rock-version {
    background-color: var(--color-red-3);
}