/* Rock Version Theme */

.main-playlist.rock-version {
    background-color: var(--color-red-1);
}
.container-playlist.rock-version::-webkit-scrollbar-thumb {
    background-color: var(--color-red-2);
}
.search-bar.rock-version input:focus {
    box-shadow: 0 0 0 5px var(--color-red-2), 0 0 25px var(--color-red-2);
}
.container-settings .user-settings.rock-version {
    background-color: var(--color-red-2);
}
.container-side-1 .current-music-rating.rock-version ion-icon {
    color: var(--color-red-2);
}
.container-side-1 .current-music-add.rock-version ion-icon {
    color: var(--color-red-2);
}
.slider-music-duration.rock-version input[type='range'] {
    background-image: linear-gradient(
        to right,
        var(--color-red-2) 0%,
        var(--color-red-2) 50%,
        var(--color-white-1) 50%,
        var(--color-white-1) 100%
    );
}
.slider-music-duration.rock-version input[type='range']::-webkit-slider-thumb {
    background-color: var(--color-red-2);
}
.slider-music-duration-wrapper .slider-music-duration-dot.rock-version {
    background-color: var(--color-red-2);
}
.container-volume .slider-music-volume.rock-version input[type='range'] {
    background-image: linear-gradient(
        to right,
        var(--color-red-2) 0%,
        var(--color-red-2) 50%,
        var(--color-white-1) 50%,
        var(--color-white-1) 100%
    );
}
.container-volume
    .slider-music-volume.rock-version
    input[type='range']::-webkit-slider-thumb {
    background-color: var(--color-red-2);
}
.slider-music-volume-wrapper .slider-music-volume-dot.rock-version {
    background-color: var(--color-red-2);
}
.container-playlist .item-playlist.rock-version {
    background-color: var(--color-red-3);
}
.container-playlist
    .item-playlist.rock-version
    .box-wrapper
    .info-item.music-playing {
    color: var(--color-red-5);
}
.main-controls.rock-version {
    background-image: linear-gradient(var(--color-red-4), #000000);
}
.container-funcions .repeat-icon.rock-version ion-icon.active {
    color: var(--color-red-2);
}
.container-funcions .shuffle-icon.rock-version ion-icon.active {
    color: var(--color-red-2);
}
.layer-search-result.rock-version {
    background-color: var(--color-red-1);
}
.box-search-result.rock-version::-webkit-scrollbar-thumb {
    background-color: var(--color-red-2);
}
.item-playlist-search.rock-version {
    background-color: var(--color-red-3);
}
.layer-user-settings.rock-version {
    background-color: var(--color-red-1);
}
.box-user-settings.rock-version::-webkit-scrollbar-thumb {
    background-color: var(--color-red-2);
}
.box-profile .user-settings.rock-version {
    background-color: var(--color-red-2);
}
.item-playlist-favorite.rock-version {
    background-color: var(--color-red-3);
}
.item-playlist-historic.rock-version {
    background-color: var(--color-red-3);
}
.main-playlist .box-wrapper-info .more-playlist.rock-version {
    background-color: var(--color-red-3);
}
.main-select-playlists.rock-version {
    background-color: var(--color-red-1);
}
.main-select-playlists.rock-version
    .container-select-playlists::-webkit-scrollbar-thumb {
    background-color: var(--color-red-2);
}
.main-select-playlists .select-playlist-back.rock-version {
    background-color: var(--color-red-3);
}
.container-select-playlists .item-select-playlist.rock-version {
    background-color: var(--color-red-3);
}
.main-playlist .menu-options.rock-version {
    background-color: var(--color-red-1);
}
.main-playlist .menu-options.rock-version::-webkit-scrollbar-thumb {
    background-color: var(--color-red-2);
}
.main-playlist .menu-options .box-wrapper-info .back-menu-options.rock-version {
    background-color: var(--color-red-3);
}
.main-playlist .menu-options .option.rock-version {
    background-color: var(--color-red-3);
}
.info-item-select-playlist
    .description-item-select-playlist.rock-version::-webkit-scrollbar-thumb {
    background-color: var(--color-red-2);
}
.form-delete-account-overflow .form-delete-account.rock-version {
    background-color: var(--color-red-1);
}
.form-delete-account-overflow
    .form-delete-account
    .interactions-delete
    .cancel.rock-version {
    background-color: var(--color-red-3);
}
.form-delete-account-overflow .form-delete-account .field.rock-version:focus {
    box-shadow: 0 0 0 5px var(--color-red-2), 0 0 25px var(--color-red-2);
}
.form-delete-account-overflow
    .form-delete-account
    .field.rock-version::placeholder {
    color: var(--color-red-3);
}
.form-delete-account-overflow .form-delete-account .field.rock-version {
    color: var(--color-red-3);
}
.layer-profile-picture .container-profile-picture.rock-version {
    background: var(--color-red-1);
}
.layer-profile-picture .container-profile-picture .field.rock-version {
    color: var(--color-red-3);
}
.layer-profile-picture .container-profile-picture .field.rock-version:focus {
    box-shadow: 0 0 0 5px var(--color-red-2), 0 0 25px var(--color-red-2);
}
.layer-profile-picture
    .container-profile-picture
    .field.rock-version::placeholder {
    color: var(--color-red-3);
}
.layer-profile-picture .container-profile-picture .save.rock-version {
    background: var(--color-red-3);
}

/* Hatsune Miku Version Theme */

.main-playlist.hatsune-miku-version {
    background-color: var(--color-miku-1);
}
.container-playlist.hatsune-miku-version::-webkit-scrollbar-thumb {
    background-color: var(--color-miku-2);
}
.search-bar.hatsune-miku-version input:focus {
    box-shadow: 0 0 0 5px var(--color-miku-2), 0 0 25px var(--color-miku-2);
}
.container-settings .user-settings.hatsune-miku-version {
    background-color: var(--color-miku-2);
}
.container-side-1 .current-music-rating.hatsune-miku-version ion-icon {
    color: var(--color-miku-2);
}
.container-side-1 .current-music-add.hatsune-miku-version ion-icon {
    color: var(--color-miku-2);
}
.slider-music-duration.hatsune-miku-version input[type='range'] {
    background-image: linear-gradient(
        to right,
        var(--color-miku-2) 0%,
        var(--color-miku-2) 50%,
        var(--color-white-1) 50%,
        var(--color-white-1) 100%
    );
}
.slider-music-duration.hatsune-miku-version
    input[type='range']::-webkit-slider-thumb {
    background-color: var(--color-miku-2);
}
.slider-music-duration-wrapper .slider-music-duration-dot.hatsune-miku-version {
    background-color: var(--color-miku-2);
}
.container-volume
    .slider-music-volume.hatsune-miku-version
    input[type='range'] {
    background-image: linear-gradient(
        to right,
        var(--color-miku-2) 0%,
        var(--color-miku-2) 50%,
        var(--color-white-1) 50%,
        var(--color-white-1) 100%
    );
}
.container-volume
    .slider-music-volume.hatsune-miku-version
    input[type='range']::-webkit-slider-thumb {
    background-color: var(--color-miku-2);
}
.slider-music-volume-wrapper .slider-music-volume-dot.hatsune-miku-version {
    background-color: var(--color-miku-2);
}
.container-playlist .item-playlist.hatsune-miku-version {
    background-color: var(--color-miku-3);
}
.container-playlist
    .item-playlist.hatsune-miku-version
    .box-wrapper
    .info-item.music-playing {
    color: var(--color-miku-5);
}
.main-controls.hatsune-miku-version {
    background-image: linear-gradient(var(--color-miku-4), #000000);
}
.container-funcions .repeat-icon.hatsune-miku-version ion-icon.active {
    color: var(--color-miku-2);
}
.container-funcions .shuffle-icon.hatsune-miku-version ion-icon.active {
    color: var(--color-miku-2);
}
.layer-search-result.hatsune-miku-version {
    background-color: var(--color-miku-1);
}
.box-search-result.hatsune-miku-version::-webkit-scrollbar-thumb {
    background-color: var(--color-miku-2);
}
.item-playlist-search.hatsune-miku-version {
    background-color: var(--color-miku-3);
}
.layer-user-settings.hatsune-miku-version {
    background-color: var(--color-miku-1);
}
.box-user-settings.hatsune-miku-version::-webkit-scrollbar-thumb {
    background-color: var(--color-miku-2);
}
.box-profile .user-settings.hatsune-miku-version {
    background-color: var(--color-miku-2);
}
.item-playlist-favorite.hatsune-miku-version {
    background-color: var(--color-miku-3);
}
.item-playlist-historic.hatsune-miku-version {
    background-color: var(--color-miku-3);
}
.main-playlist .box-wrapper-info .more-playlist.hatsune-miku-version {
    background-color: var(--color-miku-3);
}
.main-select-playlists.hatsune-miku-version {
    background-color: var(--color-miku-1);
}
.main-select-playlists.hatsune-miku-version
    .container-select-playlists::-webkit-scrollbar-thumb {
    background-color: var(--color-miku-2);
}
.main-select-playlists .select-playlist-back.hatsune-miku-version {
    background-color: var(--color-miku-3);
}
.container-select-playlists .item-select-playlist.hatsune-miku-version {
    background-color: var(--color-miku-3);
}
.main-playlist .menu-options.hatsune-miku-version {
    background-color: var(--color-miku-1);
}
.main-playlist .menu-options.hatsune-miku-version::-webkit-scrollbar-thumb {
    background-color: var(--color-miku-2);
}
.main-playlist
    .menu-options
    .box-wrapper-info
    .back-menu-options.hatsune-miku-version {
    background-color: var(--color-miku-3);
}
.main-playlist .menu-options .option.hatsune-miku-version {
    background-color: var(--color-miku-3);
}
.info-item-select-playlist
    .description-item-select-playlist.hatsune-miku-version::-webkit-scrollbar-thumb {
    background-color: var(--color-miku-2);
}
.form-delete-account-overflow .form-delete-account.hatsune-miku-version {
    background-color: var(--color-miku-1);
}
.form-delete-account-overflow
    .form-delete-account
    .interactions-delete
    .cancel.hatsune-miku-version {
    background-color: var(--color-miku-3);
}
.form-delete-account-overflow
    .form-delete-account
    .field.hatsune-miku-version:focus {
    box-shadow: 0 0 0 5px var(--color-miku-2), 0 0 25px var(--color-miku-2);
}
.form-delete-account-overflow
    .form-delete-account
    .field.hatsune-miku-version::placeholder {
    color: var(--color-miku-3);
}
.form-delete-account-overflow .form-delete-account .field.hatsune-miku-version {
    color: var(--color-miku-3);
}
.layer-profile-picture .container-profile-picture.hatsune-miku-version {
    background: var(--color-miku-1);
}
.layer-profile-picture .container-profile-picture .field.hatsune-miku-version {
    color: var(--color-miku-3);
}
.layer-profile-picture
    .container-profile-picture
    .field.hatsune-miku-version:focus {
    box-shadow: 0 0 0 5px var(--color-miku-2), 0 0 25px var(--color-miku-2);
}
.layer-profile-picture
    .container-profile-picture
    .field.hatsune-miku-version::placeholder {
    color: var(--color-miku-3);
}
.layer-profile-picture .container-profile-picture .save.hatsune-miku-version {
    background: var(--color-miku-3);
}

/* AMV Brasileiro Version Theme */

.main-playlist.amv-brasileiro-version {
    background-color: var(--color-amv-br-1);
}
.container-playlist.amv-brasileiro-version::-webkit-scrollbar-thumb {
    background-color: var(--color-amv-br-2);
}
.search-bar.amv-brasileiro-version input:focus {
    box-shadow: 0 0 0 5px var(--color-amv-br-2), 0 0 25px var(--color-amv-br-2);
}
.container-settings .user-settings.amv-brasileiro-version {
    background-color: var(--color-amv-br-2);
}
.container-side-1 .current-music-rating.amv-brasileiro-version ion-icon {
    color: var(--color-amv-br-2);
}
.container-side-1 .current-music-add.amv-brasileiro-version ion-icon {
    color: var(--color-amv-br-2);
}
.slider-music-duration.amv-brasileiro-version input[type='range'] {
    background-image: linear-gradient(
        to right,
        var(--color-amv-br-2) 0%,
        var(--color-amv-br-2) 50%,
        var(--color-white-1) 50%,
        var(--color-white-1) 100%
    );
}
.slider-music-duration.amv-brasileiro-version
    input[type='range']::-webkit-slider-thumb {
    background-color: var(--color-amv-br-2);
}
.slider-music-duration-wrapper
    .slider-music-duration-dot.amv-brasileiro-version {
    background-color: var(--color-amv-br-2);
}
.container-volume
    .slider-music-volume.amv-brasileiro-version
    input[type='range'] {
    background-image: linear-gradient(
        to right,
        var(--color-amv-br-2) 0%,
        var(--color-amv-br-2) 50%,
        var(--color-white-1) 50%,
        var(--color-white-1) 100%
    );
}
.container-volume
    .slider-music-volume.amv-brasileiro-version
    input[type='range']::-webkit-slider-thumb {
    background-color: var(--color-amv-br-2);
}
.slider-music-volume-wrapper .slider-music-volume-dot.amv-brasileiro-version {
    background-color: var(--color-amv-br-2);
}
.container-playlist .item-playlist.amv-brasileiro-version {
    background-color: var(--color-amv-br-3);
}
.container-playlist
    .item-playlist.amv-brasileiro-version
    .box-wrapper
    .info-item.music-playing {
    color: var(--color-amv-br-5);
}
.main-controls.amv-brasileiro-version {
    background-image: linear-gradient(var(--color-amv-br-4), #000000);
}
.container-funcions .repeat-icon.amv-brasileiro-version ion-icon.active {
    color: var(--color-amv-br-2);
}
.container-funcions .shuffle-icon.amv-brasileiro-version ion-icon.active {
    color: var(--color-amv-br-2);
}
.layer-search-result.amv-brasileiro-version {
    background-color: var(--color-amv-br-1);
}
.box-search-result.amv-brasileiro-version::-webkit-scrollbar-thumb {
    background-color: var(--color-amv-br-2);
}
.item-playlist-search.amv-brasileiro-version {
    background-color: var(--color-amv-br-3);
}
.layer-user-settings.amv-brasileiro-version {
    background-color: var(--color-amv-br-1);
}
.box-user-settings.amv-brasileiro-version::-webkit-scrollbar-thumb {
    background-color: var(--color-amv-br-2);
}
.box-profile .user-settings.amv-brasileiro-version {
    background-color: var(--color-amv-br-2);
}
.item-playlist-favorite.amv-brasileiro-version {
    background-color: var(--color-amv-br-3);
}
.item-playlist-historic.amv-brasileiro-version {
    background-color: var(--color-amv-br-3);
}
.main-playlist .box-wrapper-info .more-playlist.amv-brasileiro-version {
    background-color: var(--color-amv-br-3);
}
.main-select-playlists.amv-brasileiro-version {
    background-color: var(--color-amv-br-1);
}
.main-select-playlists.amv-brasileiro-version
    .container-select-playlists::-webkit-scrollbar-thumb {
    background-color: var(--color-amv-br-2);
}
.main-select-playlists .select-playlist-back.amv-brasileiro-version {
    background-color: var(--color-amv-br-3);
}
.container-select-playlists .item-select-playlist.amv-brasileiro-version {
    background-color: var(--color-amv-br-3);
}
.main-playlist .menu-options.amv-brasileiro-version {
    background-color: var(--color-amv-br-1);
}
.main-playlist .menu-options.amv-brasileiro-version::-webkit-scrollbar-thumb {
    background-color: var(--color-amv-br-2);
}
.main-playlist
    .menu-options
    .box-wrapper-info
    .back-menu-options.amv-brasileiro-version {
    background-color: var(--color-amv-br-3);
}
.main-playlist .menu-options .option.amv-brasileiro-version {
    background-color: var(--color-amv-br-3);
}
.info-item-select-playlist
    .description-item-select-playlist.amv-brasileiro-version::-webkit-scrollbar-thumb {
    background-color: var(--color-amv-br-2);
}
.form-delete-account-overflow .form-delete-account.amv-brasileiro-version {
    background-color: var(--color-amv-br-1);
}
.form-delete-account-overflow
    .form-delete-account
    .interactions-delete
    .cancel.amv-brasileiro-version {
    background-color: var(--color-amv-br-3);
}
.form-delete-account-overflow
    .form-delete-account
    .field.amv-brasileiro-version:focus {
    box-shadow: 0 0 0 5px var(--color-amv-br-2), 0 0 25px var(--color-amv-br-2);
}
.form-delete-account-overflow
    .form-delete-account
    .field.amv-brasileiro-version::placeholder {
    color: var(--color-amv-br-3);
}
.form-delete-account-overflow
    .form-delete-account
    .field.amv-brasileiro-version {
    color: var(--color-amv-br-3);
}
.layer-profile-picture .container-profile-picture.amv-brasileiro-version {
    background: var(--color-amv-br-1);
}
.layer-profile-picture
    .container-profile-picture
    .field.amv-brasileiro-version {
    color: var(--color-amv-br-3);
}
.layer-profile-picture
    .container-profile-picture
    .field.amv-brasileiro-version:focus {
    box-shadow: 0 0 0 5px var(--color-amv-br-2), 0 0 25px var(--color-amv-br-2);
}
.layer-profile-picture
    .container-profile-picture
    .field.amv-brasileiro-version::placeholder {
    color: var(--color-amv-br-3);
}
.layer-profile-picture .container-profile-picture .save.amv-brasileiro-version {
    background: var(--color-amv-br-3);
}
