<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Sistema</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://pw-music-database.kevinsouza456.repl.co/pw-music-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/config.css">
</head>
<body>
    <div class="user-info">
        <div class="icon-user">
            <ion-icon name="person"></ion-icon>
        </div>
        <div class="wrap-text">
            <div class="access">Administrador</div>
            <div class="name">Joe Dawn</div>
        </div>
    </div>

    <div class="container-total-overflow">
        <div class="container-total">
            <div class="content-total">
                <div class="title">Total de Playlists</div>
                <div class="icon">
                    <ion-icon name="musical-notes"></ion-icon>
                </div>
                <div class="total">23</div>
            </div>
            <div class="content-total">
                <div class="title">Total de Músicas</div>
                <div class="icon">
                    <ion-icon name="musical-notes"></ion-icon>
                </div>
                <div class="total">420</div>
            </div>
        </div>
    </div>

    <div class="container-playlist-overflow">
        <div class="container-playlist">
            <div class="header-playlist">
                <div class="title">Todas as Playlists</div>
                <div class="btn-adicionar">
                    <ion-icon name="add"></ion-icon>
                    Adicionar
                </div>
            </div>
            <div class="content-playlist">
                <div class="playlist-item">
                    <div class="item-cover">
                        <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Without%20Me%20(Rock%20Version)%20(Lyrics).jpg">
                    </div>
                    <div class="item-title">Título</div>
                    <div class="part">
                        <div class="item-total-de-musicas-text">Total de Músicas</div>
                        <div class="item-total-de-musicas">37</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-playlist-to-manage-overflow">
        <div class="playlist-to-manage-back">Voltar</div>
        <div class="container-playlist-to-manage">
            <div class="main-playlist">
                <div class="cover">
                    <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Without%20Me%20(Rock%20Version)%20(Lyrics).jpg">
                </div>
                <div class="content">
                    <div class="title">Título</div>
                    <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui accusamus animi excepturi ut aliquam iure iste nostrum corrupti libero sequi ea, aut laboriosam hic ex dolorum eveniet repellat et praesentium.</div>
                    <div class="details">
                        <div class="created">Criada em: 20 de agosto de 2023</div>
                        <div class="total-song">Total de 94 músicas</div>
                        <div class="gender">Gênero: Nightcore</div>
                    </div>
                </div>
            </div>
            <div class="interactions">
                <div class="btn-adicionar">
                    <ion-icon name="add"></ion-icon>
                    Adicionar Música
                </div>
                <div class="btn-editar">
                    <ion-icon name="pencil"></ion-icon>
                    Editar
                </div>
                <div class="btn-excluir">
                    <ion-icon name="close"></ion-icon>
                    Excluir
                </div>
            </div>
            <div class="title-all-songs">Todas as Músicas</div>
            <div class="content-songs">
                <div class="songs-item">
                    <div class="item-cover">
                        <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Without%20Me%20(Rock%20Version)%20(Lyrics).jpg">
                    </div>
                    <div class="item-title">Título</div>
                </div>
            </div>
            <div class="blank"></div>
            <div class="focus">
                <div class="song">
                    <div class="main-song">
                        <div class="cover">
                            <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Without%20Me%20(Rock%20Version)%20(Lyrics).jpg">
                        </div>
                        <div class="content">
                            <div class="title">Título</div>
                            <div class="details">
                                <div class="created">Criada em: 20 de agosto de 2023</div>
                                <div class="url">URL: B9fuMmbwhbI</div>
                                <div class="gender">Gênero: Nightcore</div>
                            </div>
                        </div>
                    </div>
                    <div class="interactions">
                        <div class="btn-editar">
                            <ion-icon name="pencil"></ion-icon>
                            Editar
                        </div>
                        <div class="btn-excluir">
                            <ion-icon name="close"></ion-icon>
                            Excluir
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-song-overflow" id="formAddSong">
                <form class="form-song">
                    <div class="title">Adicionar uma nova Música</div>
                    <div class="fields">
                        <input class="field" type="text" placeholder="Nome">
                        <input class="field" type="text" placeholder="URL">
                        <input class="field" type="text" placeholder="Thumbnail">
                    </div>
                    <div class="preview-thumbnail">
                        <div class="preview-text">Preview</div>
                        <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Without%20Me%20(Rock%20Version)%20(Lyrics).jpg">
                    </div>
                    <button class="btn-add" type="submit">Adicionar</button>
                </form>
            </div>
            <div class="form-song-overflow" id="formEditSong">
                <form class="form-song">
                    <div class="title">Editar Música</div>
                    <div class="fields">
                        <input class="field" type="text" placeholder="Nome">
                        <input class="field" type="text" placeholder="URL">
                        <input class="field" type="text" placeholder="Thumbnail">
                    </div>
                    <div class="preview-thumbnail">
                        <div class="preview-text">Preview</div>
                        <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Without%20Me%20(Rock%20Version)%20(Lyrics).jpg">
                    </div>
                    <button class="btn-add" type="submit">Salvar</button>
                </form>
            </div>
            <div class="form-delete-overflow" id="formDeleteSong">
                <div class="form-delete">
                    <div class="title">Tem certeza que deseja excluir esta Música?</div>
                    <div class="song-delete-name">Minha Música</div>
                    <div class="song-delete-warning">Esta ação é irreversível</div>
                    <div class="interactions-delete">
                        <div class="cancel">Cancelar</div>
                        <div class="delete">Excluir</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/JS/config.js"></script>
</body>
</html>