<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Sistema</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://pw-music-database.kevinsouza456.repl.co/pw-music-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/config.css">
</head>
<body>
    <div class="user-info">
        <div class="icon-user">
            <ion-icon name="person"></ion-icon>
        </div>
        <div class="wrap-text">
            <div class="access">Administrador</div>
            <div class="name">Joe Dawn</div>
        </div>
    </div>

    <div class="container-total-overflow">
        <div class="container-total">
            <div class="content-total">
                <div class="title">Total de Playlists</div>
                <div class="icon">
                    <ion-icon name="musical-notes"></ion-icon>
                </div>
                <div class="total" id="totalPlaylists">0</div>
            </div>
            <div class="content-total">
                <div class="title">Total de Músicas</div>
                <div class="icon">
                    <ion-icon name="musical-notes"></ion-icon>
                </div>
                <div class="total" id="totalMusics">0</div>
            </div>
        </div>
    </div>

    <div class="container-playlist-overflow">
        <div class="container-playlist">
            <div class="header-playlist">
                <div class="title">Todas as Playlists</div>
                <div class="btn-adicionar" id="btnAddPlaylist">
                    <ion-icon name="add"></ion-icon>
                    Adicionar
                </div>
            </div>
            <div class="content-playlist" id="contentPlaylist">
            </div>
        </div>
    </div>

    <div class="form-playlist-overflow hidden" id="formAddPlaylist">
        <form class="form-playlist" id="formAddPlaylistIn">
            <div class="title">Adicionar uma nova Playlist</div>
            <div class="fields">
                <input class="field" type="text" placeholder="Nome" id="formAddPlaylistInName">
                <input class="field" type="text" placeholder="Gênero" id="formAddPlaylistInGender">
                <input class="field" type="text" placeholder="Thumbnail" id="formAddPlaylistInThumbnail">
            </div>
            <div class="preview-thumbnail">
                <div class="preview-text">Preview</div>
                <img src="" id="formAddPlaylistInPreviewThumbnail">
            </div>
            <textarea class="field-area" placeholder="Descrição" maxlength="1500" id="formAddPlaylistInDescription"></textarea>
            <button class="btn-add" type="submit">Adicionar</button>
        </form>
    </div>

    <div class="container-playlist-to-manage-overflow hidden" id="containerPlaylistToManage">
        <div class="user-info-m">
            <div class="icon-user">
                <ion-icon name="person"></ion-icon>
            </div>
            <div class="wrap-text">
                <div class="access">Administrador</div>
                <div class="name">Joe Dawn</div>
            </div>
        </div>
        <div class="playlist-to-manage-back" id="playlistToManageBack">Voltar</div>
        <div class="container-playlist-to-manage">
            <div class="main-playlist">
                <div class="cover">
                    <img src="" id="containerPlaylistToManageCover">
                </div>
                <div class="content">
                    <div class="title" id="containerPlaylistToManageTitle">Título</div>
                    <div class="description" id="containerPlaylistToManageDescription">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui accusamus animi excepturi ut aliquam iure iste nostrum corrupti libero sequi ea, aut laboriosam hic ex dolorum eveniet repellat et praesentium.</div>
                    <div class="details">
                        <div class="created" id="containerPlaylistToManageCreated">Criada em: 20 de agosto de 2023</div>
                        <div class="total-song" id="containerPlaylistToManageTotalMusics">Total de 94 músicas</div>
                        <div class="gender" id="containerPlaylistToManageGender">Gênero: Nightcore</div>
                    </div>
                </div>
            </div>
            <div class="interactions">
                <div class="btn-adicionar" id="btnAddSong">
                    <ion-icon name="add"></ion-icon>
                    Adicionar Música
                </div>
                <div class="btn-adicionar-m" id="btnAddSongMobile">
                    <ion-icon name="add"></ion-icon>
                    Música
                </div>
                <div class="btn-editar" id="btnEditPlaylist">
                    <ion-icon name="pencil"></ion-icon>
                    Editar
                </div>
                <div class="btn-excluir" id="btnDeletePlaylist">
                    <ion-icon name="close"></ion-icon>
                    Excluir
                </div>
            </div>
            <div class="title-all-songs">Todas as Músicas</div>
            <div class="content-songs" id="contentSongs">
                <div class="songs-item">
                    <div class="item-cover">
                        <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Without%20Me%20(Rock%20Version)%20(Lyrics).jpg">
                    </div>
                    <div class="item-title">Título</div>
                </div>
            </div>
            <div class="blank"></div>
            <div class="focus hidden" id="focusSong">
                <div class="song">
                    <div class="main-song">
                        <div class="cover">
                            <img src="" id="focusSongCover">
                        </div>
                        <div class="content">
                            <div class="title" id="focusSongTitle">Título</div>
                            <div class="details">
                                <div class="created" id="focusSongCreated">Criada em: 20 de agosto de 2023</div>
                                <div target="_blank" class="url">URL: <a href="https://youtu.be/B9fuMmbwhbI" target="_blank" id="focusSongURL">https://youtu.be/B9fuMmbwhbI</a></div>
                                <div class="gender" id="focusSongGender">Gênero: Nightcore</div>
                            </div>
                        </div>
                    </div>
                    <div class="interactions">
                        <div class="btn-editar" id="btnEditSong">
                            <ion-icon name="pencil"></ion-icon>
                            Editar
                        </div>
                        <div class="btn-excluir" id="btnDeleteSong">
                            <ion-icon name="close"></ion-icon>
                            Excluir
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-song-overflow hidden" id="formAddSong">
                <form class="form-song" id="formAddSongIn">
                    <div class="title">Adicionar uma nova Música</div>
                    <div class="fields">
                        <input class="field" type="text" placeholder="Nome" id="formSongAddSongInputNome">
                        <input class="field" type="text" placeholder="URL" id="formSongAddSongInputURL">
                        <input class="field" type="text" placeholder="Thumbnail" id="formSongAddSongInputThumbnail">
                    </div>
                    <div class="preview-thumbnail">
                        <div class="preview-text">Preview</div>
                        <img src="" id="formSongAddSongPreviewThumbnail">
                    </div>
                    <button class="btn-add" type="submit">Adicionar</button>
                </form>
            </div>
            <div class="form-song-overflow hidden" id="formEditSong">
                <form class="form-song" id="formEditSongIn">
                    <div class="title">Editar Música</div>
                    <div class="fields">
                        <input class="field" type="text" placeholder="Nome" id="formSongEditInputNome">
                        <input class="field" type="text" placeholder="URL" id="formSongEditInputURL">
                        <input class="field" type="text" placeholder="Thumbnail" id="formSongEditInputThumbnail">
                    </div>
                    <div class="preview-thumbnail">
                        <div class="preview-text">Preview</div>
                        <img src="" id="formSongEditPreviewThumbnail">
                    </div>
                    <button class="btn-add" type="submit">Salvar</button>
                </form>
            </div>
            <div class="form-song-delete-overflow hidden" id="formDeleteSong">
                <div class="form-song-delete">
                    <div class="title">Tem certeza que deseja excluir esta Música?</div>
                    <div class="song-delete-name" id="songDeleteName">Minha Música</div>
                    <div class="song-delete-warning">Esta ação é irreversível</div>
                    <div class="interactions-delete">
                        <div class="cancel" id="formSongCancel">Cancelar</div>
                        <div class="delete" id="formSongDeleteBtn">Excluir</div>
                    </div>
                </div>
            </div>
            <div class="form-playlist-overflow hidden" id="formEditPlaylist">
                <form class="form-playlist" id="formEditPlaylistIn">
                    <div class="title">Editar Playlist</div>
                    <div class="fields">
                        <input class="field" type="text" placeholder="Nome" id="formPlaylistEditInputNome">
                        <input class="field" type="text" placeholder="Gênero" id="formPlaylistEditInputGender">
                        <input class="field" type="text" placeholder="Thumbnail" id="formPlaylistEditInputThumbnail">
                    </div>
                    <div class="preview-thumbnail">
                        <div class="preview-text">Preview</div>
                        <img src="" id="formPlaylistEditPreviewThumbnail">
                    </div>
                    <textarea class="field-area" placeholder="Descrição" maxlength="1500" id="formPlaylistEditDescription"></textarea>
                    <button class="btn-add" type="submit">Salvar</button>
                </form>
            </div>
            <div class="form-playlist-delete-overflow hidden" id="formDeletePlaylist">
                <div class="form-playlist-delete">
                    <div class="title">Tem certeza que deseja excluir esta Playlist?</div>
                    <div class="playlist-delete-name" id="playlistDeleteName">Minha Playlist</div>
                    <input class="field" type="text" placeholder="Digite o nome da playlist para confirmar..." id="playlistDeleteNameInputToConfirm">
                    <div class="playlist-delete-warning">Esta ação é irreversível</div>
                    <div class="playlist-delete-warning">Esta ação apagará todas as músicas nessa playlist</div>
                    <div class="interactions-delete">
                        <div class="cancel" id="formPlaylistCancel">Cancelar</div>
                        <div class="delete" id="formPlaylistDeleteBtn">Excluir</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/JS/config.js"></script>
</body>
</html>