<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Sistema</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://pw-music-database.kevinsouza456.repl.co/pw-music-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/config.css">
</head>
<body>

    <div class="user-info">
        <div class="icon-user">
            <ion-icon name="person"></ion-icon>
        </div>
        <div class="wrap-text">
            <div class="access">Administrador</div>
            <div class="name">Joe Dawn</div>
        </div>
    </div>

    <div class="container-total-overflow">
        <div class="container-total">
            <div class="content-total">
                <div class="title">Total de Playlists</div>
                <div class="icon">
                    <ion-icon name="musical-notes"></ion-icon>
                </div>
                <div class="total">23</div>
            </div>
            <div class="content-total">
                <div class="title">Total de Músicas</div>
                <div class="icon">
                    <ion-icon name="musical-notes"></ion-icon>
                </div>
                <div class="total">420</div>
            </div>
        </div>
    </div>

    <div class="container-playlist-overflow">
        <div class="container-playlist">
            <div class="header-playlist">
                <div class="title">Todas as Playlists</div>
                <div class="btn-adicionar">
                    <ion-icon name="add"></ion-icon>
                    Adicionar
                </div>
            </div>
            <div class="content-playlist">
                <div class="playlist-item">
                    <div class="item-cover">
                        <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Without%20Me%20(Rock%20Version)%20(Lyrics).jpg">
                    </div>
                    <div class="item-title">Título</div>
                    <div class="part">
                        <div class="item-total-de-musicas-text">Total de Músicas</div>
                        <div class="item-total-de-musicas">37</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/JS/config.js"></script>
</body>
</html>