<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchaseway Music</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://pw-music-database.kevinsouza456.repl.co/pw-music-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/themes.css">
    <link rel="stylesheet" href="/css/themes-mobile.css">
    <link rel="stylesheet" media="(max-width: 1359px)" href="/css/home-mobile.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
    
    <audio id="audio-global"></audio>

    <main class="super-main">

        <div class="warning hidden" id="warning"></div>

        <section class="main-playlist">

            <div class="box-wrapper-info">
                <div class="title-playlist">Carregando...</div>
                <div class="more-playlist">Mais</div>
            </div>

            <div class="container-playlist">
            </div>

            <div class="menu-options">
                <div class="box-wrapper-info">
                    <div class="title-menu-options">Menu</div>
                    <div class="back-menu-options" id="backMenu">Voltar</div>
                </div>
                <div class="container-option">
                    <div class="option" id="selectPlaylist">Selecionar Playlist</div>
                    <div class="option" id="selectFavorites">Favoritos</div>
                    <div class="option">Minhas Playlists</div>
                    <div class="option hidden" id="selectManagementSystem">Gerenciar Sistema</div>
                </div>
            </div>

        </section>

        <section class="main-display">

            <div class="background-cover"></div>

            <div class="container-search">

                <div class="search-icon">
                    <ion-icon name="search"></ion-icon>
                </div>
                <div class="search-bar" style="display: none;">
                    <input id="search-bar-input" type="text" placeholder="Digite o nome da música...">
                    <div class="search-bar-close">
                        <ion-icon name="close"></ion-icon>
                    </div>
                </div>
            </div>

            
            <div class="current-cover">
                <div class="ghost-frame"></div>
                <img src="">

                <div class="container-frame">
                </div>
            </div>

            <div class="container-settings">
                <div class="clock-settings" style="display: none;">
                    <ion-icon name="time"></ion-icon>
                </div>
                <div class="user-settings">
                    <ion-icon name="person" id="userPersonIcon"></ion-icon>
                    <div class="user-settings-person-container hidden" id="userPersonContainer">
                        <img src="" class="user-settings-person-img" id="userPersonImg">
                    </div>
                </div>
            </div>

            <div class="container-search-result" style="display: none;">
                <div class="layer-search-result">
                    <div class="box-search-result">
                        <div class="title-search-result">Resultados da Pesquisa</div>
                        <div class="container-items">
                        </div>
                    </div>
                </div>
                
                <div class="song-not-found" style="display: none;">Nenhuma música foi encontrada</div>

            </div>

            <div class="container-user-settings" style="display: none;">
                <div class="layer-user-settings">
                    <div class="box-user-settings">
                        <div class="title-profile">Perfil</div>
                        <div class="logout"><ion-icon name="exit"></ion-icon></div>
                        <div class="box-profile">
                            <div class="user-settings">
                                <ion-icon name="person" id="userSettingsPersonIcon"></ion-icon>
                                <div class="user-settings-person-container hidden" id="userSettingsPersonContainer">
                                    <img src="" class="user-settings-person-img" id="userSettingsPersonImg">
                                </div>
                                <div class="edit-profile-picture" id="profilePictureEdit">
                                    <ion-icon name="pencil"></ion-icon>
                                </div>
                            </div>
                            <div class="box-user-information">
                                <div class="user-name">Carregando...</div>
                                <div class="registration-date">Registrou-se em: 15 fevereiro 2023</div>
                            </div>
                        </div>

                        <div class="layer-profile-picture hidden" id="layerProfilePicture">
                            <div class="container-profile-picture">
                                <div class="title">Adicione uma URL</div>
                                <input class="field" type="text" placeholder="URL" id="profilePictureInput">
                                <button class="save" id="profilePictureSave">Salvar</button>
                            </div>
                        </div>
                        
                        <div class="title-profile">Músicas Favoritas</div>

                        <div class="container-favorite">
                        </div>
                        
                        <div class="title-wrapper">
                            <div class="title-profile">Histórico</div>
                            <div class="trash-icon">
                                <ion-icon name="trash-outline"></ion-icon>
                            </div>
                        </div>
                        
                        <div class="container-historic">
                        </div>

                        <div class="container-delete-account">
                            <button class="btn-delete-account" id="btnDeleteAccount">Deletar sua conta</button>
                        </div>

                        <div class="form-delete-account-overflow hidden" id="formDeleteAccount">
                            <div class="form-delete-account">
                                <div class="title">Tem certeza que deseja deletar sua conta?</div>
                                <div class="delete-account-name" id="playlistDeleteName">Quero deletar minha conta e aceito as condições</div>
                                <input class="field" type="text" placeholder="Digite a frase para confirmar..." id="deleteAccountInputToConfirm">
                                <div class="delete-account-warning">Todos os seus dados serão excluídos e não será possível recuperá-los</div>
                                <div class="interactions-delete">
                                    <button class="cancel" id="formDeleteAccountCancel">Cancelar</button>
                                    <button class="delete" id="btnDeleteAccountConfirmed">Excluir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="main-controls">
            
            <div class="container-side-1">

                <div class="music-animation-status">
                    <div style="margin-right: 5px; --i:0s;"></div>
                    <div style="margin-right: 5px; --i:100ms;"></div>
                    <div style="--i:200ms;"></div>
                </div>
                <div class="cover-current-music">
                    <img src="">
                </div>
                <div class="info-current-music">
                    <div class="title-info-current-music">
                        Título
                    </div>
                    <div class="gender-info-current-music">
                        Gênero
                    </div>

                    <div class="current-music-rating">
                        <ion-icon name="star" style="margin-right: 2px;"></ion-icon>
                        <ion-icon name="star" style="margin-right: 2px;"></ion-icon>
                        <ion-icon name="star" style="margin-right: 2px;"></ion-icon>
                        <ion-icon name="star" style="margin-right: 2px;"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </div>

                </div>

                <div class="current-music-favorite">
                    <ion-icon name="heart-outline"></ion-icon>
                </div>

            </div>

            <div class="container-side-2">

                <div class="container-controls">
                    <ion-icon name="play-skip-back-circle" style="margin-right: 10px;" id="audio-prev"></ion-icon>
                    <ion-icon name="play-circle" style="margin-right: 10px;" id="audio-play"></ion-icon>
                    <ion-icon name="play-skip-forward-circle" id="audio-next"></ion-icon>
                </div>

                <div class="container-duration-status">
                    <div class="current-duration">0:00</div>
                    <div class="slider-music-duration">
                        <div class="slider-music-duration-wrapper">
                            <input type="range" min="0" max="100" value="0">
                            <div class="slider-music-duration-dot"></div>
                        </div>
                    </div>
                    <div class="total-duration">0:00</div>
                </div>
                
                <div class="container-volume">
                    <div class="volume-icon">
                        <ion-icon name="volume-high"></ion-icon>
                    </div>
                    <div class="slider-music-volume">
                        <div class="slider-music-volume-wrapper">
                            <input type="range" min="0" max="100" value="60">
                            <div class="slider-music-volume-dot"></div>
                        </div>
                    </div>

                </div>
                
                <div class="container-funcions">
                    <div class="repeat-icon">
                        <ion-icon name="repeat"></ion-icon>
                    </div>
                    <div class="shuffle-icon">
                        <ion-icon name="shuffle"></ion-icon>
                    </div>
                </div>

                <div class="service-logo">
                    <img src="https://pw-music-database.kevinsouza456.repl.co/pw-music-logo.png">
                </div>

            </div>

        </section>

        <div class="focus-shadow" style="display: none;"></div>

        <section class="main-select-playlists" style="display: none;">
            <div class="select-playlist-back">Voltar</div>
            <div class="title-select-playlist">PlayLists</div>

            <div class="container-select-playlists">
            </div>

        </section>

    </main>

    <main class="super-main-mobile" style="display: none;">

        <div class="warning hidden" id="warningMobile"></div>

        <section class="header-mobile">

            <div class="service-logo-mobile">
                <img src="https://pw-music-database.kevinsouza456.repl.co/pw-music-logo.png">
            </div>

            <div class="box-wrapper-header-mobile">
                <div class="search-icon-mobile">
                    <ion-icon name="search"></ion-icon>
                </div>
                <div class="user-settings">
                    <ion-icon name="person"></ion-icon>
                </div>
            </div>

        </section>


        <section class="main-playlist-mobile">

            <div class="box-wrapper-info-mobile">
                <div class="title-playlist-mobile">Carregando...</div>
                <div class="more-playlist-mobile">Mais</div>
            </div>

            <div class="container-playlist-mobile">
            </div>

            <div class="menu-options-mobile">
                <div class="box-wrapper-info-mobile">
                    <div class="title-menu-options-mobile">Menu</div>
                    <div class="back-menu-options-mobile" id="backMenuMobile">Voltar</div>
                </div>
                <div class="container-option-mobile">
                    <div class="option-mobile" id="selectPlaylistMobile">Selecionar Playlist</div>
                    <div class="option-mobile" id="selectFavoritesMobile">Favoritos</div>
                    <div class="option-mobile">Minhas Playlists</div>
                    <div class="option-mobile hidden" id="selectManagementSystemMobile">Gerenciar Sistema</div>
                </div>
            </div>

        </section>

        <section class="main-controls-mobile">
            <div class="display-music-duration-mobile"></div>

            <div class="box-wrapper">

                <div class="cover-item">
                    <img src="">
                </div>
                <div class="info-item">
                    <div class="title-info">
                        Título
                    </div>
                    <div class="gender-info">
                        Gênero
                    </div>
                </div>
                
            </div>

            <div class="play-button-item">
                <ion-icon name="play-circle"></ion-icon>
            </div>

        </section>

        <section class="main-display-mobile" style="display: none;">
            <div class="background-cover-mobile"></div>
            <div class="background-layer-1-mobile"></div>
            <div class="background-layer-2-mobile"></div>

            <div class="display-back">
                <ion-icon name="chevron-down"></ion-icon>
            </div>

            <div class="current-cover-mobile">
                <img src="">

                <div class="container-frame-mobile">
                </div>
            </div>


            <div class="info-current-music-mobile">
                <div class="title-info-current-music-mobile">
                    Título
                </div>
                <div class="gender-info-current-music-mobile">
                    Gênero
                </div>
            </div>

            <div class="current-music-favorite-mobile">
                <ion-icon name="heart-outline"></ion-icon>
            </div>


            <div class="container-controls-mobile">
                <ion-icon name="play-skip-back-circle" style="margin-right: 5px;" id="audio-prev-mobile"></ion-icon>
                <ion-icon name="play-circle" style="margin-right: 5px;" id="audio-play-mobile"></ion-icon>
                <ion-icon name="play-skip-forward-circle" id="audio-next-mobile"></ion-icon>
            </div>

            <div class="current-duration-mobile">0:00</div>
            <div class="slider-music-duration-mobile">
                <div class="slider-music-duration-wrapper-mobile">
                    <input type="range" min="0" max="100" value="0">
                    <div class="slider-music-duration-dot-mobile"></div>
                </div>
            </div>
            <div class="total-duration-mobile">0:00</div>

            <div class="repeat-icon-mobile">
                <ion-icon name="repeat"></ion-icon>
            </div>
            <div class="shuffle-icon-mobile">
                <ion-icon name="shuffle"></ion-icon>
            </div>

        </section>

        <section class="main-select-playlists-mobile" style="display: none;">
            <div class="select-playlist-back-mobile">Voltar</div>
            <div class="title-select-playlist-mobile">PlayLists</div>

            <div class="container-select-playlists-wrapper">
                <div class="container-select-playlists-mobile">
                </div>
            </div>

        </section>

        <section class="main-user-settings-mobile" style="display: none;">

            <div class="display-back">
                <ion-icon name="chevron-down"></ion-icon>
            </div>

            <div class="logout-mobile">
                <ion-icon name="exit"></ion-icon>
            </div>

            <div class="title-profile-mobile">Perfil</div>

            <div class="box-profile-mobile">
                <div class="user-settings-mobile">
                    <ion-icon name="person"></ion-icon>
                </div>
                <div class="box-user-information-mobile">
                    <div class="user-name-mobile">Carregando...</div>
                    <div class="registration-date-mobile">Registrou-se em: 15 fevereiro 2023</div>
                </div>
            </div>

            
            <div class="content-profile-mobile">
                <div class="title-2-profile-mobile" style="padding-left: 5px;">Músicas Favoritas</div>
                <div class="container-favorite-mobile">
                </div>
                
                <div class="title-2-wrapper-mobile">
                    <div class="title-2-profile-mobile">Histórico</div>
                    <div class="trash-icon-mobile">
                        <ion-icon name="trash-outline"></ion-icon>
                    </div>
                </div>
                
                <div class="container-historic-mobile">
                </div>

                <div class="container-delete-account-mobile">
                    <button class="btn-delete-account-mobile" id="btnDeleteAccountMobile">Deletar sua conta</button>
                </div>

                <div class="form-delete-account-overflow-mobile hidden" id="formDeleteAccountMobile">
                    <div class="form-delete-account-mobile">
                        <div class="title">Tem certeza que deseja deletar sua conta?</div>
                        <div class="delete-account-name" id="playlistDeleteNameMobile">Quero deletar minha conta e aceito as condições</div>
                        <input class="field" type="text" placeholder="Digite a frase para confirmar..." id="deleteAccountInputToConfirmMobile">
                        <div class="delete-account-warning">Todos os seus dados serão excluídos e não será possível recuperá-los</div>
                        <div class="interactions-delete">
                            <button class="cancel" id="formDeleteAccountCancelMobile">Cancelar</button>
                            <button class="delete" id="btnDeleteAccountConfirmedMobile">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        <section class="main-search-mobile" style="display: none;">

            <div class="display-back">
                <ion-icon name="chevron-down"></ion-icon>
            </div>

            <div class="title">Resultados da Pesquisa</div>

            <div class="search-bar-mobile">
                <input id="search-bar-input-mobile" type="text" placeholder="Digite o nome da música...">
                <div class="search-bar-close-mobile">
                    <ion-icon name="close"></ion-icon>
                </div>
            </div>

            <div class="content-search-mobile">
                <div class="container-search-mobile">
                </div>

                <div class="song-not-found-mobile" style="display: none;">Nenhuma música foi encontrada</div>
            </div>

        </section>

    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/JS/home.js"></script>
</body>
</html>