<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchaseway Music</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://pw-music-database.kevinsouza456.repl.co/pw-music-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/themes.css">
    <link rel="stylesheet" href="/css/themes-mobile.css">
    <link rel="stylesheet" media="(max-width: 1359px)" href="/css/home-mobile.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>

    <main class="super-main">

        <section class="main-playlist">

            <div class="box-wrapper-info">
                <div class="title-playlist">Recentes</div>
                <div class="more-playlist">Mais</div>
            </div>

            <div class="container-playlist">

                 <!-- <div class="item-playlist">
                    <div class="box-wrapper">
                        <div class="cover-item">
                            <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Numb%20(Lyrics).jpg">
                        </div>
                        <div class="info-item">
                            <div class="title-info">
                                Título
                            </div>
                            <div class="gender-info">
                                Nightcore
                            </div>
                        </div>
                    </div>

                    <div class="play-button-item">
                        <ion-icon name="play-circle"></ion-icon>
                    </div>
                </div> -->

            </div>
        </section>

        <section class="main-display">

            <div class="background-cover"></div>

            <div class="container-search">

                <div class="search-icon">
                    <ion-icon name="search"></ion-icon>
                </div>
                <div class="search-bar" style="display: none;">
                    <input id="search-bar-input" type="text" placeholder="Digite o nome da música...">
                    <div class="search-bar-close">
                        <ion-icon name="close"></ion-icon>
                    </div>
                </div>
            </div>

            
            <div class="current-cover">
                <div class="ghost-frame"></div>
                <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Numb%20(Lyrics).jpg">

                
                <div class="container-frame">
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/0Vwwr3VGsYg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                </div>
            </div>

            <div class="container-settings">
                <div class="clock-settings">
                    <ion-icon name="time"></ion-icon>
                </div>
                <div class="user-settings">
                    <ion-icon name="person"></ion-icon>
                </div>
            </div>

            <div class="container-search-result" style="display: none;">
                <div class="layer-search-result">
                    <div class="box-search-result">
                        <div class="title-search-result">Resultados da Pesquisa</div>
                        <div class="container-items">

                            <!-- <div class="item-playlist-search">
                                <div class="box-wrapper-search">
                                    <div class="cover-item-search">
                                        <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Numb%20(Lyrics).jpg">
                                    </div>
                                    <div class="info-item-search">
                                        <div class="title-info-search">
                                            Título
                                        </div>
                                        <div class="gender-info-search">
                                            Nightcore
                                        </div>
                                    </div>
                                </div>
                                <div class="play-button-item">
                                    <ion-icon name="play-circle"></ion-icon>
                                </div>
                            </div> -->
                            
                        </div>
                    </div>
                </div>
                
                <div class="song-not-found" style="display: none;">Nenhuma música foi encontrada</div>

            </div>

            <div class="container-user-settings" style="display: none;">
                <div class="layer-user-settings">
                    <div class="box-user-settings">
                        <div class="title-profile">Perfil</div>
                        <div class="logout"><ion-icon name="exit"></ion-icon></div>
                        <div class="box-profile">
                            <div class="user-settings">
                                <ion-icon name="person"></ion-icon>
                            </div>
                            <div class="box-user-information">
                                <div class="user-name">Joe Dawn</div>
                                <div class="registration-date">Registrou-se em: 15 fevereiro 2023</div>
                            </div>
                        </div>
                        
                        <div class="title-profile">Músicas Favoritas</div>

                        <div class="container-favorite">

                            <!-- <div class="item-playlist-favorite">
                                <div class="box-wrapper-favorite">
                                    <div class="cover-item-favorite">
                                        <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Numb%20(Lyrics).jpg">
                                    </div>
                                    <div class="info-item-favorite">
                                        <div class="title-info-favorite">
                                            Título
                                        </div>
                                        <div class="gender-info-favorite">
                                            Nightcore
                                        </div>
                                    </div>
                                </div>
                                <div class="play-button-item">
                                    <ion-icon name="play-circle"></ion-icon>
                                </div>
                            </div> -->

                        </div>
                        
                        <div class="title-wrapper">
                            <div class="title-profile">Histórico</div>
                            <div class="trash-icon">
                                <ion-icon name="trash-outline"></ion-icon>
                            </div>
                        </div>
                        
                        <div class="container-historic">

                            <!-- <div class="item-playlist-historic">
                                <div class="box-wrapper-historic">
                                    <div class="cover-item-historic">
                                        <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Numb%20(Lyrics).jpg">
                                    </div>
                                    <div class="info-item-historic">
                                        <div class="title-info-historic">
                                            Título
                                        </div>
                                        <div class="gender-info-historic">
                                            Nightcore
                                        </div>
                                    </div>
                                </div>
                                <div class="play-button-item">
                                    <ion-icon name="play-circle"></ion-icon>
                                </div>
                            </div> -->
                            
                        </div>
                        
                    </div>
                </div>
            </div>

        </section>

        <section class="main-controls">
            
            <div class="container-side-1">

                <div class="music-animation-status">
                    <div style="margin-right: 5px; --i:0s;"></div>
                    <div style="margin-right: 5px; --i:100ms;"></div>
                    <div style="--i:200ms;"></div>
                </div>
                <div class="cover-current-music">
                    <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Numb%20(Lyrics).jpg">
                </div>
                <div class="info-current-music">
                    <div class="title-info-current-music">
                        Nightcore - Numb (Lyrics) Nightcore - Numb (Lyrics)
                    </div>
                    <div class="gender-info-current-music">
                        Nightcore
                    </div>


                    <div class="current-music-rating">
                        <ion-icon name="star" style="margin-right: 2px;"></ion-icon>
                        <ion-icon name="star" style="margin-right: 2px;"></ion-icon>
                        <ion-icon name="star" style="margin-right: 2px;"></ion-icon>
                        <ion-icon name="star" style="margin-right: 2px;"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </div>

                </div>

                <div class="current-music-favorite">
                    <ion-icon name="heart-outline"></ion-icon>
                </div>

            </div>

            <div class="container-side-2">

                <!-- Audio Manager -->
                <audio id="audio-global"></audio>

                <div class="container-controls">
                    <ion-icon name="play-skip-back-circle" style="margin-right: 10px;" id="audio-prev"></ion-icon>
                    <ion-icon name="play-circle" style="margin-right: 10px;" id="audio-play"></ion-icon>
                    <ion-icon name="play-skip-forward-circle" id="audio-next"></ion-icon>
                </div>

                <div class="container-duration-status">
                    <div class="current-duration">0:00</div>
                    <div class="slider-music-duration">
                        <div class="slider-music-duration-wrapper">
                            <input type="range" min="0" max="100" value="0">
                            <div class="slider-music-duration-dot"></div>
                        </div>
                    </div>
                    <div class="total-duration">0:00</div>
                </div>
                
                <div class="container-volume">
                    <div class="volume-icon">
                        <ion-icon name="volume-high"></ion-icon>
                    </div>
                    <div class="slider-music-volume">
                        <div class="slider-music-volume-wrapper">
                            <input type="range" min="0" max="100" value="60">
                            <div class="slider-music-volume-dot"></div>
                        </div>
                    </div>

                </div>
                
                <div class="container-funcions">
                    <div class="repeat-icon">
                        <ion-icon name="repeat"></ion-icon>
                    </div>
                    <div class="shuffle-icon">
                        <ion-icon name="shuffle"></ion-icon>
                    </div>
                </div>

                <div class="service-logo">
                    <img src="https://pw-music-database.kevinsouza456.repl.co/pw-music-logo.png">
                </div>

            </div>

        </section>

        <div class="focus-shadow" style="display: none;"></div>

        <div class="main-select-playlists" style="display: none;">
            <div class="select-playlist-back">Voltar</div>
            <div class="title-select-playlist">PlayLists</div>

            <div class="container-select-playlists">

                <!-- <div class="item-select-playlist">
                    <div class="cover-item-select-playlist" onclick="suaFuncao()">
                        <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Numb%20(Lyrics).jpg">
                    </div>
                    <div class="info-item-select-playlist">
                        <div class="title-item-select-playlist">
                            Título
                        </div>
                        <div class="description-item-select-playlist">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima eveniet recusandae, consequuntur nisi dicta maiores eligendi, deleniti, distinctio ea vero architecto ratione accusantium quia harum? Delectus impedit tenetur magni quos!
                        </div>
                        <div class="total-music-item-select-playlist">
                            Total de 94 músicas
                        </div>
                    </div>
                </div> -->

            </div>

        </div>

    </main>

    <main class="super-main-mobile" style="display: none;">

        <section class="header-mobile">

            <div class="service-logo-mobile">
                <img src="https://pw-music-database.kevinsouza456.repl.co/pw-music-logo.png">
            </div>

            <div class="box-wrapper-header-mobile">
                <div class="search-icon-mobile">
                    <ion-icon name="search"></ion-icon>
                </div>
                <div class="user-settings">
                    <ion-icon name="person"></ion-icon>
                </div>
            </div>

        </section>


        <section class="main-playlist-mobile">

            <div class="box-wrapper-info-mobile">
                <div class="title-playlist-mobile">Recentes</div>
                <div class="more-playlist-mobile">Mais</div>
            </div>

            <div class="container-playlist-mobile">
            </div>

        </section>

        <section class="main-controls-mobile">
            <div class="display-music-duration-mobile"></div>

            <div class="box-wrapper">

                <div class="cover-item">
                    <img src="https://pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Numb%20(Lyrics).jpg">
                </div>
                <div class="info-item">
                    <div class="title-info">
                        Título
                    </div>
                    <div class="gender-info">
                        Nightcore
                    </div>
                </div>
                
            </div>

            <div class="play-button-item">
                <ion-icon name="play-circle"></ion-icon>
            </div>

        </section>

        <section class="main-display-mobile">
            <div class="background-cover-mobile"></div>
            <div class="background-layer-1-mobile"></div>
            <div class="background-layer-2-mobile"></div>

            <div class="display-back">
                <ion-icon name="chevron-down"></ion-icon>
            </div>

            <div class="current-cover-mobile">
                <img src="https://img.youtube.com/vi/D2QvK-7PO5g/maxresdefault.jpg">

                <!-- <div class="container-frame-mobile">
                </div> -->
            </div>


            <div class="info-current-music-mobile">
                <div class="title-info-current-music-mobile">
                    Nightcore - Numb (Lyrics)
                </div>
                <div class="gender-info-current-music-mobile">
                    Nightcore
                </div>
            </div>

            <div class="current-music-favorite-mobile">
                <ion-icon name="heart-outline"></ion-icon>
            </div>


            <div class="container-controls-mobile">
                <ion-icon name="play-skip-back-circle" style="margin-right: 5px;" id="audio-prev"></ion-icon>
                <ion-icon name="play-circle" style="margin-right: 5px;" id="audio-play"></ion-icon>
                <ion-icon name="play-skip-forward-circle" id="audio-next"></ion-icon>
            </div>

            <div class="container-duration-status-mobile">
                <div class="current-duration-mobile">0:00</div>
                <div class="slider-music-duration-mobile">
                    <div class="slider-music-duration-wrapper-mobile">
                        <input type="range" min="0" max="100" value="0">
                        <div class="slider-music-duration-dot-mobile"></div>
                    </div>
                </div>
                <div class="total-duration-mobile">0:00</div>
            </div>

            
            <div class="repeat-icon-mobile">
                <ion-icon name="repeat"></ion-icon>
            </div>
            <div class="shuffle-icon-mobile">
                <ion-icon name="shuffle"></ion-icon>
            </div>

        </section>

    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/JS/home.js"></script>
</body>
</html>