<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchaseway Music</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://pw-music-database.kevinsouza456.repl.co/pw-music-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <div class="terms-of-use">
        <ion-icon name="newspaper"></ion-icon>
    </div>

    <div class="terms-of-use-text hidden">
        <div class="box-wrapper">
            <div class="close" id="terms-of-use-close"><ion-icon name="close"></ion-icon></div>
            <div class="title">Termos de Uso</div>
            <div class="text">Ao assinar o Purchaseway Music você concorda com o uso de Cookies em seu navegador, destinado para o funcionamento correto do sistema. Não há garantia que o serviço esteja funcionando o tempo inteiro. A criação de contas é responsabilidade do cliente, nós não temos um método de recuperação de senhas. Não nos responsabilizamos com o consumo exagerado de rede, recomendamos que evite usar os dados móveis ao utilizar o sistema.</div>
        </div>
    </div>
    
    <header class="cabecalho">
        <div class="service-logo">
            <img src="https://pw-music-database.kevinsouza456.repl.co/pw-music-logo.png">
        </div>

        <div class="box-wrapper">
            <ul class="list-options">
                <li><a href="#">Topo</a></li>
                <li><a href="#section-listen">Escute</a></li>
                <li><a href="#section-very-high-quality">Som</a></li>
                <li><a href="#section-reactive">Reativo</a></li>
            </ul>
            <div class="button-login">
                <button id="login">Login</button>
            </div>
        </div>
    </header>

    <section class="section-banner">
        <div class="title-1">As melhores músicas Nightcore</div>
        <div class="title-2">Inscreva-se agora no PwMusic</div>

        <div class="button-register">
            <button id="signup">Cadastrar-se</button>
        </div>

        <div class="title-3">Necessário a criação de conta para acessar nossos serviços</div>

    </section>

    <section class="section-listen" id="section-listen">
        <div class="box-wrapper">
            <div class="title-1">Escute em dispositivos diferentes</div>
            <div class="title-2">Suporte para Desktop e Mobile</div>
        </div>
    </section>

    <section class="section-very-high-quality" id="section-very-high-quality">
        <div class="box-wrapper">
            <div class="title-1">Som de altíssima qualidade</div>
            <div class="title-2">
                <ion-icon name="volume-high"></ion-icon>
                MP3
            </div>
        </div>
    </section>

    <section class="section-reactive" id="section-reactive">
        <div class="box-wrapper">
            <div class="title-1">Reativo</div>
            <div class="title-2">Alterne entre o tema Original e Rock Version, dependendo da música que está sendo tocada</div>
        </div>
        <div class="blue-blur"></div>
        <div class="blue-blur-title">Original</div>
        <div class="red-blur"></div>
        <div class="red-blur-title">Rock Version</div>
    </section>

    <footer class="rodape">
        <div class="box-wrapper">
            <div class="name-service">Purchaseway Music</div>
            <div class="copyright">Todos os direitos reservados - 2023</div>
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/JS/home.js"></script>
</body>
</html>