<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta
            name="description"
            content="Purchaseway Music - As melhores playlists, suporte para Desktop e Mobile, Full HD e 4K, temas incríveis. Inscreva-se agora!"
        />
        <title>Purchaseway Music</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="shortcut icon"
            href="https://i.ibb.co/L0T3ZXL/pw-music-icon.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/css/globalStyles.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </head>
    <body>
        <div class="terms-and-privacy">
            <div class="terms-text">Confira nossos termos de uso</div>
            <ion-icon name="newspaper"></ion-icon>
        </div>

        <header class="cabecalho">
            <div class="service-logo">
                <img
                    src="https://i.ibb.co/fdBXmh2/logo.png"
                    alt="Logo Purchaseway Music"
                />
            </div>

            <div class="box-wrapper">
                <ul class="list-options">
                    <li><a href="#">Topo</a></li>
                    <li><a href="#section-listen">Escute</a></li>
                    <li><a href="#section-very-high-quality">Som</a></li>
                    <li><a href="#section-reactive">Reativo</a></li>
                </ul>
                <div class="button-login">
                    <button id="login">Login</button>
                </div>
            </div>
        </header>

        <section class="section-banner">
            <div class="title-1">As melhores Playlists</div>
            <div class="title-2">Inscreva-se agora no PwMusic</div>

            <div class="button-register">
                <button id="signup">Cadastrar-se</button>
            </div>

            <div class="title-3">
                Necessário a criação de conta para acessar nossos serviços
            </div>
        </section>

        <section class="section-listen" id="section-listen">
            <div class="box-wrapper">
                <div class="title-1">Escute em dispositivos diferentes</div>
                <div class="title-2">Suporte para Desktop e Mobile</div>
            </div>
        </section>

        <section
            class="section-very-high-quality"
            id="section-very-high-quality"
        >
            <div class="box-wrapper">
                <div class="title-1">Incorporado com YouTube</div>
                <div class="title-2">
                    <ion-icon name="volume-high"></ion-icon>
                    Full HD e 4K
                </div>
            </div>
        </section>

        <section class="section-reactive" id="section-reactive">
            <div class="box-wrapper">
                <div class="title-1">Temas Incríveis</div>
                <div class="title-2">Altere o tema na seção do seu perfil</div>
            </div>
        </section>

        <footer class="rodape">
            <div class="box-wrapper">
                <div class="name-service">Purchaseway Music</div>
                <div class="copyright">Todos os direitos reservados - 2024</div>
            </div>
        </footer>

        <script src="/JS/index.js"></script>
    </body>
</html>
