<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <title>Purchaseway Music</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="shortcut icon"
            href="https://i.ibb.co/L0T3ZXL/pw-music-icon.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/css/globalStyles.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </head>
    <body>
        <div class="terms-of-use">
            <ion-icon name="newspaper"></ion-icon>
        </div>

        <div class="container-terms-of-use hidden">
            <div class="box-wrapper">
                <div class="close" id="terms-of-use-close">
                    <ion-icon name="close"></ion-icon>
                </div>
                <h1 class="title">Termos de Uso</h1>
                <div class="text">
                    <p>
                        Ao assinar o <strong>Purchaseway Music</strong>, você
                        concorda com o uso de <strong>cookies</strong> em seu
                        navegador. Esses cookies são essenciais para garantir o
                        funcionamento adequado do sistema, proporcionando uma
                        experiência de usuário otimizada e personalizada.
                    </p>
                    <p>
                        Embora nos esforcemos para oferecer um serviço contínuo
                        e ininterrupto, não garantimos que o sistema estará
                        disponível em tempo integral. Ocorrências de manutenção,
                        atualizações ou problemas técnicos imprevistos podem
                        causar indisponibilidade temporária do serviço.
                    </p>
                    <p>
                        A criação de contas é de total responsabilidade do
                        usuário. Recomendamos que você armazene suas credenciais
                        de acesso de maneira segura, pois
                        <strong
                            >não oferecemos um método de recuperação de
                            senha</strong
                        >. Em caso de perda de acesso, será necessário criar uma
                        nova conta.
                    </p>
                    <p>
                        Não nos responsabilizamos pelo consumo elevado de dados
                        de internet durante o uso do
                        <strong>Purchaseway Music</strong>. Para evitar custos
                        adicionais, recomendamos fortemente que você utilize o
                        sistema em uma conexão Wi-Fi estável, evitando o uso de
                        dados móveis.
                    </p>
                    <p>
                        Ao utilizar o serviço, você concorda em cumprir estes
                        termos de uso. Estes termos podem ser atualizados a
                        qualquer momento, e a continuidade do uso do serviço
                        implica na aceitação das alterações realizadas.
                    </p>
                </div>
            </div>
        </div>

        <header class="cabecalho">
            <div class="service-logo">
                <img
                    src="https://i.ibb.co/fdBXmh2/logo.png"
                    alt="Logo Purchaseway Music"
                />
            </div>

            <div class="box-wrapper">
                <ul class="list-options">
                    <li><a href="#">Topo</a></li>
                    <li><a href="#section-listen">Escute</a></li>
                    <li><a href="#section-very-high-quality">Som</a></li>
                    <li><a href="#section-reactive">Reativo</a></li>
                </ul>
                <div class="button-login">
                    <button id="login">Login</button>
                </div>
            </div>
        </header>

        <section class="section-banner">
            <div class="title-1">As melhores Playlists</div>
            <div class="title-2">Inscreva-se agora no PwMusic</div>

            <div class="button-register">
                <button id="signup">Cadastrar-se</button>
            </div>

            <div class="title-3">
                Necessário a criação de conta para acessar nossos serviços
            </div>
        </section>

        <section class="section-listen" id="section-listen">
            <div class="box-wrapper">
                <div class="title-1">Escute em dispositivos diferentes</div>
                <div class="title-2">Suporte para Desktop e Mobile</div>
            </div>
        </section>

        <section
            class="section-very-high-quality"
            id="section-very-high-quality"
        >
            <div class="box-wrapper">
                <div class="title-1">Som de altíssima qualidade</div>
                <div class="title-2">
                    <ion-icon name="volume-high"></ion-icon>
                    MP3
                </div>
            </div>
        </section>

        <section class="section-reactive" id="section-reactive">
            <div class="box-wrapper">
                <div class="title-1">Reativo</div>
                <div class="title-2">
                    Alterne entre vários temas, dependendo da playlist que está
                    sendo tocada
                </div>
            </div>
        </section>

        <footer class="rodape">
            <div class="box-wrapper">
                <div class="name-service">Purchaseway Music</div>
                <div class="copyright">Todos os direitos reservados - 2024</div>
            </div>
        </footer>

        <script src="/JS/index.js"></script>
    </body>
</html>
