<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie uma conta PwMusic</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://pw-music-database.kevinsouza456.repl.co/pw-music-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    
    <div class="service-logo">
        <img src="https://pw-music-database.kevinsouza456.repl.co/pw-music-logo.png">
    </div>

    <section class="container">
        <form action="">
            <div class="title">Crie uma conta PwMusic</div>

            <input class="input-nome" type="text" placeholder="Nome">
            <input class="input-senha" type="password" placeholder="Senha">
            <div class="input-checkbox">
                <input type="checkbox">
                <div>Manter Conectado</div>
            </div>

            <button class="btn-submit" type="submit">Criar</button>
            <div class="info">Tem uma conta?
                <div>Conecte-se</div>
            </div>
        </form>
    </section>


    <script src="/JS/signup.js"></script>
</body>
</html>