<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta
            name="description"
            content="Leia os Termos de Uso e a Política de Privacidade do Purchaseway Music. Saiba mais sobre como utilizamos cookies, coletamos e protegemos suas informações pessoais."
        />
        <title>Termos de Uso Purchaseway Music</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="shortcut icon"
            href="https://i.ibb.co/L0T3ZXL/pw-music-icon.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/css/globalStyles.css" />
        <link rel="stylesheet" href="/css/terms-and-privacy.css" />
    </head>
    <body>
        <section class="terms-and-privacy">
            <h1 class="title">Termos de Uso</h1>
            <div class="text">
                <p>
                    1. Ao assinar o <strong>Purchaseway Music</strong>, você
                    concorda com o uso de <strong>cookies</strong> em seu
                    navegador. Esses cookies são essenciais para garantir o
                    funcionamento adequado do sistema, proporcionando uma
                    experiência de usuário otimizada e personalizada.
                </p>
                <p>
                    2. Embora nos esforcemos para oferecer um serviço contínuo e
                    ininterrupto, não garantimos que o sistema estará disponível
                    em tempo integral. Ocorrências de manutenção, atualizações
                    ou problemas técnicos imprevistos podem causar
                    indisponibilidade temporária do serviço.
                </p>
                <p>
                    3. A criação de contas é de total responsabilidade do
                    usuário. Recomendamos que você armazene suas credenciais de
                    acesso de maneira segura. Agora oferecemos um método de
                    recuperação de senha por e-mail, mas mesmo assim é
                    necessário cuidar bem de sua conta. O usuário deve fornecer
                    um e-mail válido para receber comunicações importantes e
                    concorda que o sistema pode enviar e-mails periodicamente.
                </p>
                <p>
                    4. Não nos responsabilizamos pelo consumo elevado de dados
                    de internet durante o uso do
                    <strong>Purchaseway Music</strong>. Para evitar custos
                    adicionais, recomendamos fortemente que você utilize o
                    sistema em uma conexão Wi-Fi estável, evitando o uso de
                    dados móveis.
                </p>
                <p>
                    5. Ao utilizar o serviço, você concorda em cumprir estes
                    termos de uso. Estes termos podem ser atualizados a qualquer
                    momento, e a continuidade do uso do serviço implica na
                    aceitação das alterações realizadas.
                </p>
                <p>
                    6. Utilizamos a API do YouTube como serviço, portanto, é
                    necessário estar de acordo com os
                    <a
                        href="https://www.youtube.com/t/terms"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        Termos de uso do YouTube</a
                    >.
                </p>
            </div>

            <h1 class="title">Política de Privacidade</h1>

            <div class="text">
                <p>
                    <strong>1. Informações Coletadas:</strong> O
                    <strong>Purchaseway Music</strong> coleta e processa
                    informações dos usuários, incluindo nome, e-mail, senha
                    (armazenada de forma criptografada), foto de perfil,
                    preferências de tema, histórico de músicas, playlists
                    favoritas, e dados de autenticação. Estas informações são
                    armazenadas com segurança para garantir a personalização do
                    serviço e a segurança do usuário.
                </p>

                <p>
                    <strong>2. Uso das Informações:</strong> As informações são
                    usadas para:
                    <strong>Personalização do Serviço:</strong> Recomendação de
                    músicas, playlists e histórico de uso para uma experiência
                    personalizada.
                    <strong>Segurança e Autenticação:</strong> Gerenciamento
                    seguro de acesso à conta e recuperação de senha.
                    <strong>Armazenamento de Preferências:</strong> Retenção de
                    histórico de músicas, playlists e tema escolhido.
                    <strong>Comunicações:</strong> Envio de e-mails importantes
                    sobre a conta e o serviço.
                </p>

                <p>
                    <strong>3. Compartilhamento de Dados:</strong> O
                    <strong>Purchaseway Music</strong> não compartilha
                    informações pessoais dos usuários com terceiros para fins
                    comerciais ou promocionais. Dados podem ser compartilhados
                    apenas para: <strong>Cumprimento Legal:</strong> Quando
                    exigido por lei ou para proteger os direitos do
                    <strong>Purchaseway Music</strong>.
                    <strong>API do YouTube:</strong> Para streaming de vídeos
                    musicais, em conformidade com os
                    <a
                        href="https://www.youtube.com/t/terms"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Termos de Uso do YouTube</a
                    >.
                </p>

                <p>
                    <strong>4. Armazenamento e Segurança de Dados:</strong> Os
                    dados dos usuários são armazenados em servidores seguros.
                    Medidas de segurança como criptografia de senha e controle
                    de acesso são aplicadas para proteger as informações.
                    Recomenda-se que os usuários mantenham suas credenciais de
                    acesso seguras e não as compartilhem.
                </p>

                <p>
                    <strong>5. Direitos dos Usuários:</strong> Os usuários têm o
                    direito de:
                    <strong>Acessar e Corrigir Informações:</strong> Solicitar
                    acesso e correção de dados pessoais.
                    <strong>Excluir Conta e Dados:</strong> Solicitar a exclusão
                    de sua conta e todos os dados associados.
                </p>

                <p>
                    <strong>6. Cookies:</strong> Ao utilizar o
                    <strong>Purchaseway Music</strong>, o usuário concorda com o
                    uso de cookies, essenciais para o funcionamento do sistema e
                    para a melhoria da experiência.
                </p>

                <p>
                    <strong>7. Alterações na Política de Privacidade:</strong>
                    Esta política pode ser atualizada periodicamente.
                    Recomendamos que os usuários revisem regularmente para se
                    manterem informados. O uso contínuo do serviço após
                    alterações implica a aceitação das novas condições.
                </p>

                <p>
                    <strong>8. Contato:</strong> Para dúvidas ou solicitações
                    sobre esta Política de Privacidade, entre em contato com o
                    suporte do <strong>Purchaseway Music</strong>.
                </p>
            </div>

            <a href="/" class="btn-back">Voltar</a>
        </section>
    </body>
</html>
