* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue-1: #081B39;
    --color-blue-2: #3C93CF;
    --color-blue-3: #3E5162;
    --color-blue-4: #0C264E;
    --color-black: #2B2B2B;
    --color-red-1: #260101;
    --color-red-2: #BF1F1F;
    --color-red-3: #40060B;
    --color-red-4: #731010;
    --color-white-1: #F5FAFC;
}

body {
    font-family: 'Inter', sans-serif;
}

body, html {
    height: 100%;
}
body {
    max-height: 100vh;
}
.super-main {
    display: grid;
    grid-template-columns: 500px auto;
    max-height: 100vh;
    grid-template-rows: calc(100vh - 120px) auto;
    /* flex-wrap: wrap; */

}

/* Main PlayList */

.main-playlist {
    width: 500px;
    background-color: var(--color-blue-1);
    height: 100%;
}
.main-playlist .title-playlist {
    font-size: 36px;
    color: var(--color-white-1);
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}


.conteiner-playlist {
    width: 100%;
    overflow-y: scroll;
    max-height: calc(100vh - 220px);
    height: calc(100vh - 220px);

    /* Settings Scroll */
    margin-left: -5px;
    padding: 0 0 0 20px;
}
.conteiner-playlist::-webkit-scrollbar {
    width: 10px;
    padding: 60px;
    position: absolute;
}


.conteiner-playlist::-webkit-scrollbar-track {
    background: var(--color-black);
    border-radius: 10px;
}

.conteiner-playlist::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-2);
    border-radius: 10px;
}

.conteiner-playlist .item-playlist {
    width: 460px;
    margin: 0 auto 10px auto;
    background-color: var(--color-blue-3);
    
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}
.item-playlist .cover-item {
    width: 108px;
    height: 60px;
}
.item-playlist .cover-item img {
    width: 100%;
    /* height: 100%; */
}

.item-playlist .box-wrapper {
    display: flex;
}
.item-playlist .info-item{
    color: var(--color-white-1);
    padding-left: 5px;
}
.info-item .title-info {
    font-size: 16px;
}
.info-item .gender-info {
    font-size: 12px;
}
.item-playlist .play-button-item {
    display: flex;
    align-items: center;
}
.item-playlist .play-button-item ion-icon {
    width: 40px;
    height: 40px;
    color: var(--color-white-1);
}

/* Main Diplay */

.main-display {
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
.main-display .background-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -500;

    background: url("https:pw-music-database.kevinsouza456.repl.co/Nightcore%20-%20Numb%20(Lyrics).jpg") no-repeat center center / cover;
    filter: blur(12.94px);
}
.main-display .current-cover {
    max-width: 1000px;
    margin: 0 20px;
}
.main-display .current-cover img {
    width: 100%;
}


.main-display .conteiner-search {
    position: absolute;
    top: 20px;
    left: 20px;
}


.main-display .conteiner-search {
    /* width: 465px; */
    /* background-color: red; */

    display: flex;
}
.conteiner-search .search-icon {
    width: 60px;
    height: 60px;
    background-color: var(--color-black);
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon ion-icon {
    width: 40px;
    height: 40px;
    color: var(--color-white-1);
}

.conteiner-search .search-bar {
    margin-left: 5px;
    /* background-color: red; */
    /* height: 40px; */

    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar input {
    height: 40px;
    width: 400px;
    padding-left: 16px;
    border-radius: 10px;
    border: 2px solid var(--color-black);
}
.search-bar input::placeholder {
    color: var(--color-black);
    font-size: 14px;
}

.search-bar .search-bar-close {
    /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-30px);
}
.search-bar .search-bar-close ion-icon {
    width: 20px;
    height: 20px;
}


.main-display .user-settings {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-blue-2);

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 2px solid var(--color-black);
}
.main-display .user-settings ion-icon {
    width: 40px;
    height: 40px;
    color: var(--color-white-1);
}

.main-display .clock-settings {
    position: absolute;
    top: 20px;
    right: 100px;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-blue-2);

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 2px solid var(--color-black);
}
.main-display .clock-settings ion-icon {
    width: 40px;
    height: 40px;
    color: var(--color-white-1);
}
/* Main Controls */

.main-controls {
    /* Em testes */
    width: 100%;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;

    /* background-color:  */
    background-image: linear-gradient(#0C264E, #000000);
    height: 120px;
    max-height: 120px;
    overflow: hidden;
}

.main-controls .conteiner-side-1 {
    min-width: 500px;

    display: flex;
    align-items: center;
}
.conteiner-side-1 .music-animation-status {
    /* background-color: rgb(50, 50, 130); */
    display: flex;
    margin-left: 20px;
}
.music-animation-status div {
    width: 5px;
    height: 20px;
    background-color: var(--color-white-1);
}

.conteiner-side-1 .cover-current-music {
    width: 144px;
    height: 80px;
    margin-left: 20px;
    position: relative;
}
.cover-current-music img {
    width: 100%;
}

.conteiner-side-1 .info-current-music {
    min-width: 224px;
    color: var(--color-white-1);
    margin-left: 10px;
}
.info-current-music .title-info-current-music {
    font-size: 20px;
}
.info-current-music .gender-info-current-music {
    font-size: 12px;
}

.conteiner-side-1 .current-music-rating {
    min-width: 108px;
    display: flex;

    position: absolute;
    
}
.conteiner-side-1 .current-music-rating ion-icon {
    width: 20px;
    height: 20px;
    color: var(--color-blue-2);
}

.conteiner-side-1 .current-music-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3px;
}
.conteiner-side-1 .current-music-favorite ion-icon {
    width: 40px;
    height: 40px;
    color: var(--color-blue-2);
}


.main-controls .conteiner-side-2 {
    width: 100%;
    display: flex;
    align-items: center;
}
.conteiner-side-2 .conteiner-controls {
    display: flex;
    /* background-color: red; */
}
.conteiner-side-2 .conteiner-controls ion-icon {
    width: 40px;
    height: 40px;
    color: var(--color-white-1);
}